[flake8]
# W191 - I want my project to look nice in my personal visual taste
ignore = W191, E722, W291, E126, E128
max-line-length = 105
per-file-ignores = 
    workers/migrations/*: E501
    presses/migrations/*: E501
    events/migrations/*: E501
    orders/migrations/*: E501
    stations/migrations/*: E501
    boards/migrations/*: E501
    settings/*: F405, F403, F401
