# directory for project venv
.venv

# develop database
db.sqlite3

# cache
__pycache__/

# some weird shit
.idea

# no .pyc in my project
*.pyc

# Django stuff:
*.log
local_settings.py

# no migrations:
alternative_backend/boards/migrations/
alternative_backend/orders/migrations/
alternative_backend/workers/migrations/
alternative_backend/stations/migrations/
alternative_backend/events/migrations/
alternative_backend/presses/migrations/
