# directory for project venv
.venv

# no coverage
.coverage

# develop database
db.sqlite3

# no envs
.envs

# cache
__pycache__/

# some weird shit
.idea

# no .pyc in my project
*.pyc

# Django stuff:
*.log
local_settings.py

alternative_backend/alternative_backend/static/
